### First steps

In [1]:
# Import needed libraries
import os
import pandas as pd
import numpy as np
import termplotlib as tpl

In [2]:
# Define the location of the data
meta_path = '../../data/day_2/boston_housing/meta.txt'
data_path = '../../data/day_2/boston_housing/housing_data.csv'

In [3]:
# Have a look at the file size
print("Size of metadata:", os.path.getsize(meta_path), "Bytes")
print("Size of data:", os.path.getsize(data_path), "Bytes")

Size of metadata: 740 Bytes
Size of data: 35008 Bytes

In [4]:
# Importing the data

# Loading the metadata
with open(meta_path, 'r', encoding='utf-8') as f:
    meta = f.read()

# Loading the dataset as DataFrame
df = pd.read_csv(data_path)

In [5]:
# Print the metadata
print(meta)

CRIM per capita crime rate by town
ZN proportion of residential land zoned for lots over 25,000 sq.ft.
INDUS proportion of non-retail business acres per town
CHAS Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
NOX nitric oxides concentration (parts per 10 million)
RM average number of rooms per dwelling
AGE proportion of owner-occupied units built prior to 1940
DIS weighted distances to five Boston employment centres
RAD index of accessibility to radial highways
TAX full-value property-tax rate per $10,000
PTRATIO pupil-teacher ratio by town
B 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
LSTAT % lower status of the population
MEDV Median value of owner-occupied homes in $1000's

In [6]:
# Show the first 5 rows of the data
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [7]:
# Datatypes of the columns
print(df.dtypes)

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [8]:
# Data dimensions
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of rows: 506
Number of columns: 14

### Quality Criteria

In [9]:
# Measuring completeness
missing_count = df.isna().sum()
print(missing_count)
missing_rate = df.isna().mean()
print(missing_rate)

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64
CRIM       0.039526
ZN         0.039526
INDUS      0.039526
CHAS       0.039526
NOX        0.000000
RM         0.000000
AGE        0.039526
DIS        0.000000
RAD        0.000000
TAX        0.000000
PTRATIO    0.000000
B          0.000000
LSTAT      0.039526
MEDV       0.000000
dtype: float64

In [10]:
# Measuring uniqueness
duplicate_rate = df.duplicated()
print(duplicate_rate) # Percent

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Length: 506, dtype: bool

### Descriptive statistics

In [11]:
# Measuring cardinality
distinct_vals = df.nunique()
print(distinct_vals) # Count

CRIM       484
ZN          26
INDUS       76
CHAS         2
NOX         81
RM         446
AGE        348
DIS        412
RAD          9
TAX         66
PTRATIO     46
B          357
LSTAT      438
MEDV       229
dtype: int64

In [12]:
# Extract columns with low cardinality and analyze their values

# Define threshold for low cardinality
cardinality_threshhold = 0.66
cutoff = cardinality_threshhold * len(df)
low_cardinality_columns = distinct_vals[distinct_vals < cutoff].index.tolist()
print("Selected low cardinality coluns: ", low_cardinality_columns)

# Print the value counts for each column
for col in low_cardinality_columns:
    print("")
    print(f"Spalte: {col}")
    print(df[col].value_counts())
    print("")

Selected low cardinality coluns:  ['ZN', 'INDUS', 'CHAS', 'NOX', 'RAD', 'TAX', 'PTRATIO', 'MEDV']

Spalte: ZN
ZN
0.0      360
20.0      20
80.0      14
22.0      10
25.0      10
12.5      10
45.0       6
40.0       6
30.0       5
90.0       5
33.0       4
21.0       4
95.0       4
60.0       4
75.0       3
70.0       3
52.5       3
55.0       3
82.5       2
28.0       2
35.0       2
85.0       2
17.5       1
100.0      1
18.0       1
34.0       1
Name: count, dtype: int64


Spalte: INDUS
INDUS
18.10    127
19.58     28
8.14      22
6.20      18
21.89     14
        ...
1.89       1
2.01       1
4.15       1
3.78       1
2.02       1
Name: count, Length: 76, dtype: int64


Spalte: CHAS
CHAS
0.0    452
1.0     34
Name: count, dtype: int64


Spalte: NOX
NOX
0.538    23
0.713    18
0.437    17
0.871    16
0.624    15
         ..
0.422     1
0.389     1
0.385     1
0.435     1
0.518     1
Name: count, Length: 81, dtype: int64


Spalte: RAD
RAD
24    132
5     115
4     110
3      38
6      26
8      24
2      24
1      20
7      17
Name: count, dtype: int64


Spalte: TAX
TAX
666    132
307     40
403     30
437     15
304     14
      ...
244      1
280      1
351      1
422      1
187      1
Name: count, Length: 66, dtype: int64


Spalte: PTRATIO
PTRATIO
20.2    140
14.7     34
21.0     27
17.8     23
19.2     19
17.4     18
19.1     17
18.6     17
18.4     16
16.6     16
21.2     15
15.2     13
13.0     12
17.9     11
20.9     11
18.7      9
19.7      8
19.6      8
17.6      7
16.4      6
16.0      5
16.9      5
20.1      5
18.0      5
16.1      5
14.9      4
18.3      4
16.8      4
18.2      4
17.0      4
19.0      4
18.5      4
12.6      3
15.3      3
14.8      3
18.9      3
22.0      2
15.6      2
18.8      2
15.9      2
21.1      1
15.1      1
17.3      1
14.4      1
13.6      1
15.5      1
Name: count, dtype: int64


Spalte: MEDV
MEDV
50.0    16
25.0     8
23.1     7
22.0     7
21.7     7
        ..
12.6     1
16.4     1
17.7     1
12.0     1
8.1      1
Name: count, Length: 229, dtype: int64

In [13]:
# Extract high cardinality columns and analyze their values

# Derive high cardinality columns
high_cardinality_columns = distinct_vals[distinct_vals > cutoff].index.tolist()
print("Selected high cardinality coluns: ", high_cardinality_columns)

# Set a bucket number and show the values counts of buckets
num_buckets = 16

for col in high_cardinality_columns:
    print("")
    print(f"Spalte: {col}")
    buckets = pd.cut(df[col], bins=num_buckets)
    bucket_counts = buckets.value_counts().sort_index()
    print(bucket_counts)
    print("")

Selected high cardinality coluns:  ['CRIM', 'RM', 'AGE', 'DIS', 'B', 'LSTAT']

Spalte: CRIM
CRIM
(-0.0826, 5.567]    390
(5.567, 11.128]      51
(11.128, 16.688]     21
(16.688, 22.249]      9
(22.249, 27.809]      6
(27.809, 33.37]       1
(33.37, 38.931]       2
(38.931, 44.491]      1
(44.491, 50.052]      1
(50.052, 55.612]      1
(55.612, 61.173]      0
(61.173, 66.734]      0
(66.734, 72.294]      1
(72.294, 77.855]      1
(77.855, 83.416]      0
(83.416, 88.976]      1
Name: count, dtype: int64


Spalte: RM
RM
(3.556, 3.887]      2
(3.887, 4.213]      2
(4.213, 4.54]       2
(4.54, 4.866]       2
(4.866, 5.192]     14
(5.192, 5.518]     20
(5.518, 5.844]     61
(5.844, 6.17]     139
(6.17, 6.497]     112
(6.497, 6.823]     62
(6.823, 7.149]     39
(7.149, 7.475]     23
(7.475, 7.801]      7
(7.801, 8.128]     11
(8.128, 8.454]      7
(8.454, 8.78]       3
Name: count, dtype: int64


Spalte: AGE
AGE
(2.803, 8.969]       10
(8.969, 15.038]       5
(15.038, 21.106]     19
(21.106, 27.175]     14
(27.175, 33.244]     31
(33.244, 39.312]     24
(39.312, 45.381]     19
(45.381, 51.45]      20
(51.45, 57.519]      24
(57.519, 63.588]     24
(63.588, 69.656]     22
(69.656, 75.725]     25
(75.725, 81.794]     27
(81.794, 87.862]     36
(87.862, 93.931]     64
(93.931, 100.0]     122
Name: count, dtype: int64


Spalte: DIS
DIS
(1.119, 1.817]       78
(1.817, 2.504]      110
(2.504, 3.192]       64
(3.192, 3.879]       53
(3.879, 4.566]       50
(4.566, 5.253]       29
(5.253, 5.941]       31
(5.941, 6.628]       34
(6.628, 7.315]       18
(7.315, 8.003]       17
(8.003, 8.69]         7
(8.69, 9.377]        10
(9.377, 10.065]       0
(10.065, 10.752]      4
(10.752, 11.439]      0
(11.439, 12.126]      1
Name: count, dtype: int64


Spalte: B
B
(-0.0766, 25.106]      14
(25.106, 49.892]        6
(49.892, 74.679]        4
(74.679, 99.465]        7
(99.465, 124.251]       3
(124.251, 149.038]      2
(149.038, 173.824]      2
(173.824, 198.61]       1
(198.61, 223.396]       1
(223.396, 248.182]      4
(248.182, 272.969]      5
(272.969, 297.755]      5
(297.755, 322.541]     11
(322.541, 347.328]     13
(347.328, 372.114]     37
(372.114, 396.9]      391
Name: count, dtype: int64


Spalte: LSTAT
LSTAT
(1.694, 3.995]     31
(3.995, 6.26]      63
(6.26, 8.525]      70
(8.525, 10.79]     67
(10.79, 13.055]    49
(13.055, 15.32]    56
(15.32, 17.585]    43
(17.585, 19.85]    34
(19.85, 22.115]    20
(22.115, 24.38]    17
(24.38, 26.645]     9
(26.645, 28.91]     8
(28.91, 31.175]    12
(31.175, 33.44]     1
(33.44, 35.705]     4
(35.705, 37.97]     2
Name: count, dtype: int64

In [18]:
# Visualize the discrete distribution of RM values

# Get the RM column values as an array
rm_data = df["RM"].values

# Calculate the histogram for RM
counts, bin_edges = np.histogram(rm_data, bins=64)

# Show the histogram
fig = tpl.figure()
fig.hist(counts, bin_edges, grid=[15, 40], force_ascii=True)
fig.show()

                            ** *
                            ** **  *
                            ** ** **
                            ***** **
                          * ******** *
                          ************
                        ******************
                      * ******************
                 *   ** ************************    *
*  *   * * * *  **************************************** ***   *

In [15]:
# Show a contigency table for CHAS and RAD
contingency_table = pd.crosstab(df['CHAS'], df['RAD'], normalize="index")
print(contingency_table)

RAD         1         2         3         4         5         6         7   \
CHAS
0.0   0.039823  0.053097  0.077434  0.219027  0.225664  0.053097  0.035398
1.0   0.029412  0.000000  0.058824  0.235294  0.294118  0.000000  0.000000

RAD         8         24
CHAS
0.0   0.042035  0.254425
1.0   0.147059  0.235294

In [16]:
# Show a correlation matrix of all columns except CHAS and RAD
corr_matrix = df[df.columns.difference(['CHAS', 'RAD'])].corr()
print(corr_matrix)

              AGE         B      CRIM       DIS     INDUS     LSTAT      MEDV  \
AGE      1.000000 -0.275303  0.354342 -0.744844  0.638431  0.602891 -0.394656
B       -0.275303  1.000000 -0.381411  0.291512 -0.360532 -0.369889  0.333461
CRIM     0.354342 -0.381411  1.000000 -0.374166  0.401863  0.444943 -0.391363
DIS     -0.744844  0.291512 -0.374166  1.000000 -0.711709 -0.493328  0.249929
INDUS    0.638431 -0.360532  0.401863 -0.711709  1.000000  0.590690 -0.481772
LSTAT    0.602891 -0.369889  0.444943 -0.493328  0.590690  1.000000 -0.735822
MEDV    -0.394656  0.333461 -0.391363  0.249929 -0.481772 -0.735822  1.000000
NOX      0.731548 -0.380051  0.417130 -0.769230  0.764866  0.582641 -0.427321
PTRATIO  0.269226 -0.177383  0.281110 -0.232471  0.390954  0.375966 -0.507787
RM      -0.247337  0.128069 -0.219150  0.205246 -0.390234 -0.614339  0.695360
TAX      0.509114 -0.441808  0.580595 -0.534432  0.731055  0.536110 -0.468536
ZN      -0.563801  0.171303 -0.191178  0.656739 -0.531871 -0.414193  0.373136

              NOX   PTRATIO        RM       TAX        ZN
AGE      0.731548  0.269226 -0.247337  0.509114 -0.563801
B       -0.380051 -0.177383  0.128069 -0.441808  0.171303
CRIM     0.417130  0.281110 -0.219150  0.580595 -0.191178
DIS     -0.769230 -0.232471  0.205246 -0.534432  0.656739
INDUS    0.764866  0.390954 -0.390234  0.731055 -0.531871
LSTAT    0.582641  0.375966 -0.614339  0.536110 -0.414193
MEDV    -0.427321 -0.507787  0.695360 -0.468536  0.373136
NOX      1.000000  0.188933 -0.302188  0.668023 -0.513704
PTRATIO  0.188933  1.000000 -0.355501  0.460853 -0.414046
RM      -0.302188 -0.355501  1.000000 -0.292048  0.320800
TAX      0.668023  0.460853 -0.292048  1.000000 -0.312371
ZN      -0.513704 -0.414046  0.320800 -0.312371  1.000000

In [17]:
# Show the top five results of the correlation matrix

# Unstack correlation matrix to long format
corr_long = corr_matrix.unstack().reset_index()
corr_long.columns = ['variable_1', 'variable_2', 'correlation']

# Remove self correlations (e.g., A vs A)
corr_long = corr_long[corr_long['variable_1'] != corr_long['variable_2']]

# Remove duplicate pairs (because matrix is symmetric)
corr_long['pairs'] = corr_long.apply(lambda row: tuple(sorted([row['variable_1'], row['variable_2']])), axis=1)
corr_long = corr_long.drop_duplicates(subset='pairs')

# Sort by absolute correlation value
corr_long['abs_correlation'] = corr_long['correlation'].abs()
top5 = corr_long.sort_values(by='abs_correlation', ascending=False).head(5)

# Output (original correlation values)
print(top5[['variable_1', 'variable_2', 'correlation']])

   variable_1 variable_2  correlation
43        DIS        NOX    -0.769230
55      INDUS        NOX     0.764866
3         AGE        DIS    -0.744844
66      LSTAT       MEDV    -0.735822
7         AGE        NOX     0.731548