### Primitive data types in Python

In [ ]:
# 1. Integer

# Example: Age of a person
age = 25
print("Age:", age)

In [ ]:
# 2. Float

# Example: Temperature in degrees Celsius
temperature = 23.5
print("Temperature:", temperature)

In [ ]:
# 3. String

# Example: Name of a person
name = "Max Mustermann"
print("Name:", name)

In [ ]:
# 4. Boolean

# Example: Is the user logged in?
is_logged_in = True
print("Is logged in:", is_logged_in)

### Applications of primitive data types:

In [ ]:
# Integer: Performing calculations
x = 10
y = 5
sum_result = x + y
print("Sum:", sum_result)

In [ ]:
# Float: Calculating the average
grades = [1.0, 2.5, 3.7, 2.0, 1.3]
average_grade = sum(grades) / len(grades)
print("Average grade:", average_grade)

In [ ]:
# String: Concatenating strings
first_name = "Max"
last_name = "Mustermann"
full_name = first_name + " " + last_name
print("Full name:", full_name)

In [ ]:
# Boolean: Checking conditions
age = 20
is_adult = age >= 18
if is_adult:
    print("The user is an adult.")
else:
    print("The user is not an adult.")

### Useful Python functions for primitive data types

In [ ]:
# 1. type() function

# Example: Checking the data type of a variable
age = 25
temperature = 23.5
name = "Max Mustermann"
is_logged_in = True

print("Type of age:", type(age))
print("Type of temperature:", type(temperature))
print("Type of name:", type(name))
print("Type of is_logged_in:", type(is_logged_in))

In [ ]:
# 2. str() function

# Example: Converting other data types to strings
age_str = str(age)
temperature_str = str(temperature)
print("Age as string:", age_str)
print("Temperature as string:", temperature_str)

In [ ]:
# 3. int() function

# Example: Converting other data types to integers
temperature_int = int(temperature)
print("Temperature as integer:", temperature_int)

In [ ]:
# 4. float() function

# Example: Converting other data types to floats
age_float = float(age)
print("Age as float:", age_float)

In [ ]:
# 5. len() function

# Example: Getting the length of a string
name_length = len(name)
print("Length of name:", name_length)

In [ ]:
# 6. bool() function

# Example: Converting other data types to boolean
empty_string = ""
non_empty_string = "Hello"
print("Boolean value of empty string:", bool(empty_string))
print("Boolean value of non-empty string:", bool(non_empty_string))

### Abstract data types and data structures in Python

In [ ]:
# 1. Complex numbers
complex_number = 1 + 2j  # Define a complex number
print("Complex Number:", complex_number)  # Print the complex number

# Addition of complex numbers
another_complex = 2 + 3j
sum_complex = complex_number + another_complex
print("Sum of Complex Numbers:", sum_complex)  # Output the sum

In [ ]:
# 2. Tuples
my_tuple = (1, 2, 3)  # Create a tuple
print("Tuple:", my_tuple)

# Accessing elements in a tuple
print("First element of the tuple:", my_tuple[0])  # Output the first element

In [ ]:
# 3. Lists
my_list = [1, 2, 3, 4, 5]  # Create a list
print("List before modification:", my_list)

# Modifying a list
my_list.append(6)  # Add an element to the list
print("List after adding an element:", my_list)

In [ ]:
# 4. Dictionaries
my_dict = {"A": 1, "B": 2}  # Create a dictionary
print("Dictionary:", my_dict)

# Accessing a value by key
print("Value for key 'A':", my_dict["A"])  # Output the value for key 'A'

In [ ]:
# 5. Sets
my_set = {1, 2, 3, 3, 4}  # Create a set
print("Set:", my_set)  # Output the set (duplicates are removed)

In [ ]:
# 6. Functions
def add_numbers(a, b):
    """Return the sum of two numbers."""
    return a + b  # Return the sum

# Using the function
result = add_numbers(5, 3)
print("Sum of 5 and 3:", result)  # Output the result

In [ ]:
# 7. Classes
class Car:
    """A class representing a car."""
    
    def __init__(self, brand, model):
        """Initialize the car with brand and model."""
        self.brand = brand
        self.model = model

    def describe(self):
        """Return a description of the car."""
        return f"{self.brand} {self.model}"  # Return a string description

# Create an instance of the Car class
my_car = Car("Toyota", "Corolla")
print("Car description:", my_car.describe())  # Output the car description

### Structurized data and its properties in Python

In [ ]:
# Import necessary libraries
import sqlite3
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [ ]:
# Read a csv file as pandas dataframe
df_people = pd.read_csv('../../data/day_2/people.csv', delimiter=",")
df_people.drop(columns=['Index'], inplace=True) # Remove duplikate index column
df_people

In [ ]:
# Show tables of a database

# 1. Connect to the database
conn = sqlite3.connect('../../data/day_2/chinook.db')  # Connect to your database
cur = conn.cursor()  # Create a cursor object

# 2. Query to get all tables in the database
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")

# 3. Fetch and print all table names
tables = cur.fetchall()  # Fetch all results
print("Tables in the database:")
print("-"*23)
for table in tables:
    print(table[0])  # Print the name of each table

# 4. Close the connection
conn.close()

In [ ]:
# Extract a database table as dataframe

# 1. Connect to the database
conn = sqlite3.connect('../../data/day_2/chinook.db')  # Connect to your database
cur = conn.cursor()  # Create a cursor object

# 2. Query the desired table as dataframe
df_chinook = pd.read_sql_query(f"SELECT * FROM Track;", conn)

# 3. Close the connection
conn.close()

df_chinook

In [ ]:
# Print information about the dataframes
print(df_people.info())
print("-"*48)
print(df_chinook.info())

In [ ]:
# Describe properties of the dataframes
print(df_people.describe())
print("-"*80)
print(df_chinook.describe())

In [ ]:
# Select all rows where the genre is Classical
df_classical = df_chinook[df_chinook["GenreId"] == 24]
df_classical

In [ ]:
# Derive an age column from the birthdate column, then extract all people under 18 years old

# Convert the date string column to datetime format
df_people['Date of birth'] = pd.to_datetime(df_people['Date of birth'])

# Get the current date as datetime object
current_date = datetime.now()

# Apply relativedelta to calculate age and store it in new 'Age' column
df_people['Age'] = df_people['Date of birth'].apply(
    lambda dob: relativedelta(current_date, dob).years
)

# Select all rows with people under 18 years old
df_minors = df_people[df_people['Age'] < 18]
df_minors

### Unstructurized data and its properties in Python

In [ ]:
# Import necessary libraries
import cv2
from ipywidgets import interact
from matplotlib import pyplot as plt
from scipy.io import wavfile
import numpy as np
import os

In [ ]:
# Read in some mnist data as numpy array
mnist_data = []
for number in range(0, 10):
    for image in range(0, 10):
        mnist_data.append(cv2.imread(f'../../data/day_2/mini_mnist/{number}/{number}_{image}.jpg', cv2.IMREAD_GRAYSCALE))

In [ ]:
# Show mnist arrays
def show_mnist_array(index):
    array = mnist_data[index]
    for row in array:
        print(" ".join(f"{value:3}" for value in row))

interact(show_mnist_array, index=(0, len(mnist_data)-1))

In [ ]:
# Show mnist arrays as images
def show_mnist_array_as_image(index):
    array = mnist_data[index]
    plt.imshow(array, cmap='gray')
    plt.axis('off')
    plt.show()

interact(show_mnist_array_as_image, index=(0, len(mnist_data)-1))

In [ ]:
# Check the average pixel value for each image in the dataset
avg_pxl_vals = [image.mean() for image in mnist_data]

plt.figure(figsize=(10, 5))
plt.bar(range(len(avg_pxl_vals)), avg_pxl_vals, color='skyblue')
plt.xlabel('Bild Index')
plt.ylabel('Durchschnittlicher Pixelwert')
plt.title('Durchschnittlicher Pixelwert pro Bild')
plt.show()

In [ ]:
# Check the average pixel value for each number in the dataset
avg_pxl_vals_of_nums = [sum(avg_pxl_vals[i:i+10]) / 10 for i in range(0, len(avg_pxl_vals), 10)]

plt.figure(figsize=(10, 5))
plt.bar(range(len(avg_pxl_vals_of_nums)), avg_pxl_vals_of_nums, color='skyblue')
plt.xlabel('Bild Index')
plt.ylabel('Durchschnittlicher Pixelwert')
plt.title('Durchschnittlicher Pixelwert pro Bild')
plt.show()

In [ ]:
# Show audio mnist as image
data_path = "../../data/day_2/mini_audio_mnist/"
filenames = []
for i in range(1, 4):
    filenames.append(os.listdir(data_path + f"{i}"))
num_files = sum([len(filenames[i]) for i in range(len(filenames))])

def show_audio_mnist_as_image(index):
    speaker = index // 40
    file = index % 40

    samplerate, data = wavfile.read(f'../../data/day_2/mini_audio_mnist/{speaker+1}/{filenames[speaker][file]}')

    time = np.linspace(0, len(data) / samplerate, num=len(data))

    plt.figure(figsize=(12, 4))
    plt.plot(time, data)
    plt.axis('off')
    plt.show()
    
interact(show_audio_mnist_as_image, index=(0, num_files-2))