In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:
df = pd.read_excel("../../data/day_1/DSSeminar_Vorstellung_extended.xlsx")

In [14]:
df

,alter_aktuell,alter_abi,herkunft_typ,abschluss_ort,geschlecht,nebenjob,skill_programmieren,skill_englisch,mathe_lk,studiengang,mathe_note,herkunft_bundesland
0,21,18,Stadt,Gymnasium,Weiblich,Ja,4,4,Ja,Application Mgmt,1,Hessen
1,20,19,Stadt,Gymnasium,Männlich,Ja,1,3,Nein,BWL,3,Berlin
2,22,18,Land,Berufsschule,Anderes,Nein,3,3,Nein,Software Engineering,2,Bayern
3,25,19,Stadt,Gymnasium,Weiblich,Ja,5,5,Ja,Data Science & KI,1,Baden-Württemberg
4,19,18,Land,Gesamtschule,Männlich,Nein,2,2,Ja,Cybersecurity,2,Rheinland-Pfalz
5,21,17,Land,Gymnasium,Weiblich,Ja,3,4,Nein,Application Mgmt,3,Hessen
6,24,19,Stadt,Gymnasium,Männlich,Ja,4,5,Ja,Software Engineering,1,Hamburg
7,20,18,Stadt,Gymnasium,Weiblich,Nein,1,3,Nein,BWL,4,Nordrhein-Westfalen
8,22,19,Stadt,Gesamtschule,Anderes,Ja,4,4,Ja,Cybersecurity,2,Hessen
9,23,18,Land,Gymnasium,Weiblich,Nein,2,3,Nein,Software Engineering,3,Niedersachsen
10,20,18,Stadt,Gymnasium,Männlich,Ja,5,5,Ja,Data Science & KI,1,Hessen
11,21,19,Land,Gymnasium,Männlich,Nein,3,4,Ja,Application Mgmt,2,Hessen
12,22,18,Stadt,Berufsschule,Weiblich,Ja,5,5,Ja,Data Science & KI,1,Sachsen

In [ ]:
neue_namen = {
    'Wie alt seid ihr?': 'alter_aktuell',
    'Wie alt wart ihr während des Abis?': 'alter_abi',
    'Aus welchem Bundesland kommt ihr?': 'herkunft_bundesland',
    'Ist euer Herkunftsort eher städtisch oder ländlich?': 'herkunft_typ',
    'Wo habt ihr euren Schulabschluss gemacht?': 'abschluss_ort',
    'Was ist euer Geschlecht': 'geschlecht',
    'Habt ihr während der Schulzeit einen Nebenjob gemacht?': 'nebenjob',
    'Wie schätzt ihr selbst eure Programmierkenntnisse ein?': 'skill_programmieren',
    'Wie schätzt ihr selbst eure Englischkenntnisse ein?': 'skill_englisch',
    'Hattet ihr Mathe im Leistungskurs?': 'mathe_lk',
    'Was ist euer Studiengang': 'studiengang',
    'Welche Schulnote hattet ihr in Mathe im Schnitt über die letzten 2 Schuljahre?': 'mathe_note'
}

df = df.rename(columns=neue_namen)

In [15]:
# cols_to_remove = ['ID', 'Start time', 'Completion time', 'Email', 'Name', 'Last modified time']
# df = df.drop(columns=cols_to_remove)

KeyError: "['ID', 'Start time', 'Completion time', 'Email', 'Name', 'Last modified time'] not found in axis"

In [16]:
df

,alter_aktuell,alter_abi,herkunft_typ,abschluss_ort,geschlecht,nebenjob,skill_programmieren,skill_englisch,mathe_lk,studiengang,mathe_note,herkunft_bundesland
0,21,18,Stadt,Gymnasium,Weiblich,Ja,4,4,Ja,Application Mgmt,1,Hessen
1,20,19,Stadt,Gymnasium,Männlich,Ja,1,3,Nein,BWL,3,Berlin
2,22,18,Land,Berufsschule,Anderes,Nein,3,3,Nein,Software Engineering,2,Bayern
3,25,19,Stadt,Gymnasium,Weiblich,Ja,5,5,Ja,Data Science & KI,1,Baden-Württemberg
4,19,18,Land,Gesamtschule,Männlich,Nein,2,2,Ja,Cybersecurity,2,Rheinland-Pfalz
5,21,17,Land,Gymnasium,Weiblich,Ja,3,4,Nein,Application Mgmt,3,Hessen
6,24,19,Stadt,Gymnasium,Männlich,Ja,4,5,Ja,Software Engineering,1,Hamburg
7,20,18,Stadt,Gymnasium,Weiblich,Nein,1,3,Nein,BWL,4,Nordrhein-Westfalen
8,22,19,Stadt,Gesamtschule,Anderes,Ja,4,4,Ja,Cybersecurity,2,Hessen
9,23,18,Land,Gymnasium,Weiblich,Nein,2,3,Nein,Software Engineering,3,Niedersachsen
10,20,18,Stadt,Gymnasium,Männlich,Ja,5,5,Ja,Data Science & KI,1,Hessen
11,21,19,Land,Gymnasium,Männlich,Nein,3,4,Ja,Application Mgmt,2,Hessen
12,22,18,Stadt,Berufsschule,Weiblich,Ja,5,5,Ja,Data Science & KI,1,Sachsen

In [17]:
engine = create_engine('postgresql://mlflow:mlflow@mlflow_db:5432/mlflow')
df.to_sql('Vorstellungsdaten', engine, if_exists='replace', index=False)

13